body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1682695795255-b236b1f1267d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80'); /* Replace with your image URL */
    background-size: cover;
    transform: translateZ(-1px) scale(1.5);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.section {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}


.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px auto;
}

.service-card {
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    text-align: center;
}

.service-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service-card p {
    color: #555;
}


a{
    color: white;
}


footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content p:first-child {
    font-weight: bold;
}
